
  
  .contact-form-wrapper {
    padding: 100px 0;
  }
  
  .contact-form {
    padding: 30px 30px;
    background: linear-gradient(135deg, #16423C, #6A9C89);
    border-radius: 12px;
    max-width: 700px;
  }
  
  .contact-form textarea {
    resize: none;
  }

  
  .contact-form .form-input,
  .form-text-area {
    background-color: #f0f4f5;
    height: 50px;
    padding-left: 16px;
  }
  
  .contact-form .form-text-area {
    background-color: #f0f4f5;
    height: auto;
    padding-left: 16px;
  }
  
  .contact-form .form-control::placeholder {
    color: #16423C;
    font-weight: 500;
    opacity: 1;
  }
  
  .contact-form .form-control:-ms-input-placeholder {
    color: #aeb4b9;
    font-weight: 500;
  }
  
  .contact-form .form-control::-ms-input-placeholder {
    color: #aeb4b9;
    font-weight: 500;
  }
  
  .contact-form .form-control:focus {
    border-color: #16423C;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #2f8479;;
  }
  
  .contact-form .title {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
  }
  
  .contact-form .description {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
  }
  
  .contact-form .submit-button-wrapper {
    text-align: center;
  }
  
  .contact-form .submit-button-wrapper input {
    border: none;
    border-radius: 4px;
    background-color: #16423C;
    color: white;
    text-transform: uppercase;
    padding: 10px 60px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  
  .contact-form .submit-button-wrapper input:hover {
    background-color: #2c7c71;
  }
  